<%= get_back %>
<div class="clean_company-profile">
  <div class="icon text-center">
    <%= image_tag(@company.image_url, :size => "300x300", :class => "img-circle") %>
  </div>
  <div class="name text-center">
    <h1><%= @company.name %></h1>
  </div>
</div>
<div class="row">
  
  <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-3">
    <div class="clean_company">
      <div class="col-xs-6 col-md-10 col-lg-10">
        <ul class="nav nav-tabs nav-justified">
          <li class="<%= 'active' if current_page?(clean_company_path(@company)) %>"><%= link_to clean_company_path(@company) do %>サービス内容 <% end %></li>
          <li class="<%= 'active' if current_page?(clean_company_clean_reviews_path(@company)) %>"><%= link_to clean_company_clean_reviews_path(@company) do %>レビュー <% end %></li>
        </ul>
      </div>
      <div class = "clean_info">    
        <dl>
          <dt>ユーザー名</dt>
          <dd><%= @company.user.name %></dd>
          <dt>☎️</dt>
          <dd><%= @company.tel %></dd>
          <dt>作業可能地域</dt>
          <dd></dd>
          <dt></dt>
          <dd></dd>
          <dd>
            <% @company.workings.each do |company| %>
              <%= company.prefecture %>  
            <% end %>
          </dd>
          <dt>部屋の広さ(平米)</dt>
          <dd>清掃料金</dd>
          <% @company.charges.each do |company| %>
            <dt><%= company.square_meters_min %>〜<%= company.square_meters_max %></dt> 
            <dd>¥<%= company.charge %></dd>
          <% end %>
        </dl>

        <!-- if スレッドが存在する → スレッド画面 show -->
        <!-- if スレッドが存在しない → スレッド新規画面 new -->
        <% if current_user.is_hotel %>
          <!-- ログインユーザーが民泊管理者の場合 -->
          <% if current_user.has_thread?(@company) %>
            <dl><dt><%= link_to 'メッセージ画面へ', clean_company_clean_thread_path(@company, current_user.get_thread_id(@company)), class: 'btn btn-primary'%></dt></dl>
          <% else %>
            <dl><dt><%= link_to 'メッセージ画面へ', new_clean_company_clean_thread_path(@company), class: 'btn btn-primary'%></dt></dl>
          <% end %>
        
        <% elsif current_user.is_clean_company %>
          <!-- ログインユーザーが清掃業者の場合 -->
          <dd>
            <ul class="media-list">
              <% @threads.each do |thread| %>
                <li class="media">
                  <div class="pull-left">
                    <img src="<%= gravatar_url(thread.user, options = { size: 20 }) %>" alt="" class="img-circle">
                  </div>
                  <div class="pull-left">
                    <%= link_to thread.user.name + 'へのメッセージ画面へ', clean_company_clean_thread_path(params[:id],thread.id) %>
                  </div>
                </li>
              <% end %>
            </ul>
          </dd>
        <% end %>
      </div>
    </div>
  </div>
</div>
