<%= form_tag(clean_company_clean_threads_post_path, method: 'post') do %>
  <div class="form-group">
    <%= hidden_field_tag :id, @thread.id %>
  </div>
  <div class = "form-group">
    <%= text_area_tag 'content','', class: 'form-control' %>
  </div>
  <div class = "text-right">
    <%= submit_tag 'メッセージ送信',class: 'btn btn-success' %><br />
  </div>
<% end %>
<ul class="media-list">
  <% @messages.each do |message| %>
    <% if message.posted_by_hotel? %>
      <li class="media">
        <div class="pull-left">
          <img src="<%= gravatar_url(message.clean_thread.user, options = { size: 50 }) %>" alt="" class="img-circle">
        </div>
        <div class="pull-left">
          <div class = "alert alert-success" role="alert">
            <div>
              <%= message.clean_thread.user.name %> <span class="text-muted">posted at <%= message.created_at %></span>
            </div>
            <div>
              <p><%= message.content %></p>
            </div>
          </div>
        </div>
      </li>
    <% elsif message.posted_by_company? %>
      <li class="media">
        <div class="pull-right">
          <img src = "/images/<%= @company.image_url %>" alt="" class="img-circle" height = 50 width = 50>
        </div>
        <div class="pull-right">
          <div class = "alert alert-info" role="alert">
            <div>
              <%= message.clean_thread.clean_company.name %> <span class="text-muted">posted at <%= message.created_at %></span>
            </div>
            <div>
              <p><%= message.content %></p>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>