<%= get_back %>
<div class="clean_company-profile">
  <div class="icon text-center">
    <%= image_tag(@company.image_url, :size => "300x300", :class => "img-circle") %>
  </div>
  <div class="name text-center">
    <h1><%= @company.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-3">
    <div class="clean_company">
      <div class="col-xs-6 col-md-10 col-lg-10">
        <ul class="nav nav-tabs nav-justified">
          <li class="<%= 'active' if current_page?(clean_company_path(@company)) %>"><%= link_to clean_company_path(@company) do %>サービス内容 <% end %></li>
          <li class="<%= 'active' if current_page?(clean_company_clean_reviews_path(@company)) %>"><%= link_to clean_company_clean_reviews_path(@company) do %>レビュー <% end %></li>
        </ul>
      </div>
      <dl>
        <dt>評価</dt>
        <% if @reviews.exists? %>
          <dd>平均
          <%= CleanReview.avg(@reviews) %>点／5点満点中
          </dd>
        <% else %>
          <dd>まだ評価はありません。</dd>
        <% end %>
          <% @reviews.each do |review| %>
            <dt><img src="<%= gravatar_url(review.user, options = { size: 25 }) %>" alt="" class="img-circle">  <%= review.user.name %></dt>
            <dd><%= review.getpoint %></dd>
            <dt></dt>
            <dd></dd>
            <dd><%= review.comment %></dd>
          <% end %>
        <% if current_user.is_hotel %>
        <dt><%= link_to 'レビューをする', new_clean_company_clean_review_path(@company),class: 'btn btn-primary' %></dt>
        <% end %>
      </dl>
    </div>
  </div>
</div>
