<div class="row">
  <div class="col-md-offset-3 col-md-6 col-xs-offset-0">
    <div class="panel panel-default">
      <div class="panel-heading">会社登録（２／３）</div>
      <div class="panel-body">
        <%= form_tag(clean_company_clean_prefectures_path, method: 'post') do %>
          <%= render 'layouts/error_messages', model: @prefecture %>
          <div class = "form-group area">
            <%= label_tag 'area', "作業可能地域"%>
          </div>
          
          <div class = "form-group">
            <%= label_tag 'area', "関東地区"%>
          </div>
          
          <div class = "form-group">
            <%= check_box_tag 'prefecture_id[]',checked_value = "13" %>
            <%= label_tag :prefecture, "東京都 " %>
            <%= check_box_tag 'prefecture_id[]',checked_value = "14" %>
            <%= label_tag :prefecture, "神奈川県 " %>
            <%= check_box_tag 'prefecture_id[]',checked_value = "11" %>
            <%= label_tag :prefecture, "埼玉県 " %>
            <%= check_box_tag 'prefecture_id[]',checked_value = "12" %>
            <%= label_tag :prefecture, "千葉県 " %>
            <%= check_box_tag 'prefecture_id[]',checked_value = "8" %>
            <%= label_tag :prefecture, "茨城県 " %>
            <%= check_box_tag 'prefecture_id[]',checked_value = "9" %>
            <%= label_tag :prefecture, "栃木県 " %>
            <%= check_box_tag 'prefecture_id[]',checked_value = "10" %>
            <%= label_tag :prefecture, "群馬県 " %>
          </div>
          
          <div class = "form-group">
            <%= label_tag 'area', "関西地区"%>
          </div>
          
          <div class = "form-group">
            <%= check_box_tag 'prefecture_id[]',checked_value = "27" %>
            <%= label_tag :prefecture, "大阪府 " %>
            <%= check_box_tag 'prefecture_id[]',checked_value = "26" %>
            <%= label_tag :prefecture, "京都府 " %>
            <%= check_box_tag 'prefecture_id[]',checked_value = "29" %>
            <%= label_tag :prefecture, "奈良県 " %>
            <%= check_box_tag 'prefecture_id[]',checked_value = "28" %>
            <%= label_tag :prefecture, "兵庫県 " %>
            <%= check_box_tag 'prefecture_id[]',checked_value = "25" %>
            <%= label_tag :prefecture, "滋賀県 " %>
            <%= check_box_tag 'prefecture_id[]',checked_value = "30" %>
            <%= label_tag :prefecture, "和歌山県 " %>
          </div>
          
          
            
          
          <div class = "text-right">
            <%= submit_tag '料金入力画面へ',class: 'btn btn-success' %><br />
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>